/* Prices Section */

.prices-content{
    overflow: hidden;
}

.prices-content .item{
    position: relative;
    width: 32%;
    float: left;
    border: #dbdbdb solid 1px;
    text-align: center;
    padding: 20px 0px;
}
.prices-content .item.mg{
    margin: 0px 2%;
}
.prices-content-title{
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    color: rgba(57, 59, 59, 0.6);

}
.prices-content-price{
    border: 2px solid #6195ff;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin: 22px auto 22px auto;
    padding:8px 0px ;
    transition: color 0.5s;
}
.prices-content-price h3{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}
.prices-content-price span{
    font-size:14px ;
    
}
.prices-content-list{
    list-style: none;
    line-height: 2;
    color: #999
}
.prices-content-list li{
    text-transform: capitalize;
}
.prices-content-buttom{
    border: 2px solid #6195ff;
    color: #6195ff;
    padding: 10px 20px;
    margin: 20px 0px;
    background:none;
    cursor: pointer;
}

.prices-content .item::after{
    position: absolute;
    content: "";
    height: 0%;
    width: 100%;
    background-color: rgb(20, 20, 20);
    top: 0;
    left: 0;
    z-index: -1;
    transition: .3s;
}

.prices-content .item:hover::after{
    height: 100%;
}

.prices-content .item:hover .prices-content-title{
color: #6195ff;
}
.prices-content .item:hover .prices-content-price{
    color: #fff;

}